header .logo a li {
  display: flex;
  align-items: center; }
  header .logo a li img {
    width: 30vw; }

header nav ul .menu1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  color: white;
  list-style: none;
  text-decoration: none;
  flex-direction: row; }
  header nav ul .menu1 a {
    display: flex;
    justify-content: center;
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.3rem; }
    header nav ul .menu1 a li {
      display: flex;
      align-items: center; }

header .title {
  color: white;
  font-size: 3rem;
  margin: 1rem 3rem;
  padding: 0.3rem; }

main .mainSubtitulo {
  text-align: center;
  margin: 3rem;
  padding-bottom: 3rem;
  border-bottom: solid #0b0b0b;
  font-size: 1.2rem; }

main .parrafo1 .mainParrafo1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 0rem 3rem 3rem 3rem;
  text-align: start;
  justify-content: center;
  background-color: #641220;
  font-size: 1.1rem; }
  main .parrafo1 .mainParrafo1 .imgBioquimica {
    width: 20vw;
    justify-content: center;
    padding: 1rem; }

main .parrafo2 .mainParrafo2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0rem 3rem 3rem 3rem;
  text-align: start;
  justify-content: center;
  background-color: #85182a;
  font-size: 1.1rem; }
  main .parrafo2 .mainParrafo2 .imgQuimica {
    width: 20vw;
    justify-content: center;
    padding: 1rem;
    margin-left: 5rem; }

main .parrafo3 .mainParrafo3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 0rem 3rem 3rem 3rem;
  text-align: start;
  justify-content: center;
  background-color: #a71e34;
  font-size: 1.1rem; }
  main .parrafo3 .mainParrafo3 .imgMolecular {
    width: 20vw;
    justify-content: center;
    padding: 1rem;
    margin-right: 10rem; }

main .parrafo4 .mainParrafo4 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0rem 3rem 3rem 3rem;
  padding-left: 1rem;
  text-align: start;
  justify-content: center;
  background-color: #c71f37;
  font-size: 1.1rem; }
  main .parrafo4 .mainParrafo4 .imgEstMolecular {
    width: 20vw;
    justify-content: center;
    padding: 1rem;
    margin-left: 12rem; }

main .mainSectionFondo {
  background-color: #780000;
  margin: 0rem 0rem 0rem 0rem;
  padding-bottom: 3rem;
  padding-top: 3rem; }
  main .mainSectionFondo .mainSection2 {
    text-align: start;
    margin-left: 3rem;
    margin-right: 3rem; }
    main .mainSectionFondo .mainSection2 .Section2b {
      text-align: start; }

footer {
  color: black;
  background-image: url(../img/Background.png); }
  footer .tituloFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 1rem 1rem 3rem;
    padding: 2rem 0rem 0rem 0rem; }
    footer .tituloFooter .tFooter .eslogan {
      margin: 0.5rem 0rem 0rem 0rem; }
  footer .secDosFooter div .h4Redes {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 0rem 1rem 1rem 3rem; }
  footer .secDosFooter div .redesFooter {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 0rem 1rem 1rem 3rem; }
    footer .secDosFooter div .redesFooter .instagram a .instagramFooter {
      background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
      padding: 11px 0.1px;
      border-radius: 30%;
      color: rgba(255, 255, 255, 0.934); }
    footer .secDosFooter div .redesFooter .twitter a .twitterFooter {
      color: #00acee;
      background-color: white;
      padding: 11px 0.1px; }
    footer .secDosFooter div .redesFooter .facebook a .facebookFooter {
      color: #3b5998;
      background-color: white;
      padding: 12px 0.1px;
      border-radius: 10%; }
  footer .contacInfFooter {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem 0rem 0rem; }
    footer .contacInfFooter .contactosInfFooter {
      display: flex;
      flex-direction: column;
      text-align: end;
      margin: 0rem 3rem 1rem 1rem;
      padding-bottom: 1rem; }
      footer .contacInfFooter .contactosInfFooter .masInfFooter h4 h5 {
        display: flex;
        flex-direction: column; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.header {
  height: 30rem;
  background-image: url(../img/fondopantalla.png);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.mobile {
  display: none; }
