@import "mainPages/breakPoints";

header {
    .mobile {
        @include media-up(md) {
            display: none;
        }
    }
    .escritorio {
        display: none;

        @include media-up(md) {
            display: block;
        }
    }

    nav {
        ul {
            .logo {
                a {
                    li {
                        display: flex;
                        justify-content: center;

                        img {
                            width: 25vw;
                        }
                    }
                }
            }

            .menu1 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                color: white;
                list-style: none;
                text-decoration: none;
                flex-direction: row;

                a {
                    display: flex;
                    justify-content: center;
                    color: white;
                    list-style: none;
                    text-decoration: none;
                    padding: 0.9rem;

                    @include media-up(md) {
                        display: flex;
                        justify-content: center;
                        color: white;
                        list-style: none;
                        text-decoration: none;
                        font-size: 1.2rem;
                    }

                    li {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }

    .title {
        color: white;
        font-size: 3rem;
        padding: 0.3rem;
        margin-left: 5vw;
        text-align: center;

        @include media-up(md) {
            color: white;
            font-size: 3rem;
            margin: 3rem 3rem;
            padding: 0.3rem;
        }

    }
}