//Estilos generales
@import "header";
@import "footer";

//Variablres
@import "mainPages/breakPoints";
@import "variables";


//Estilos paginas
@import "mainPages/index";
@import "mainPages/tecnology";
@import "mainPages/company";
@import "mainPages/pipeline";
@import "mainPages/contact";
@import "mainPages/partners";
@import "mainPages/resources";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: $colorBody;
}

.header {
    height: 20rem;
    background-image:url(../img/Background.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $colorMenu;
}

.b-color {
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}
.navbar-light .navbar-nav .nav-link.active{
    color: black;
}

.navbar {
    background-image:url(../img/Background.png);
    .logoMobile{
        width: 100%;
        min-width: 150px;
        max-width: 150px;
        margin-left: 1rem;
    }
}