main {
    .mainSubtitulo {
        text-align: center;
        margin: 3rem;
        padding-bottom: 3rem;
        border-bottom: solid rgb(11, 11, 11);
        font-size: 1.2rem;
    }

    .parrafo1 {
        .mainParrafo1 {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            margin: 0rem 3rem 3rem 3rem;
            text-align: start;
            justify-content: center;
            background-color: #641220;
            font-size: 1.1rem;

            .imgBioquimica {
                width: 20vw;
                justify-content: center;
                padding: 1rem;
            }
        }
    }


    .parrafo2 {
        .mainParrafo2 {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row-reverse;
            align-items: center;
            margin: 0rem 3rem 3rem 3rem;
            text-align: start;
            justify-content: center;
            background-color: #85182a;
            font-size: 1.1rem;

            .imgQuimica {
                width: 20vw;
                justify-content: center;
                padding: 1rem;
                margin-left: 5rem;
            }
        }
    }

    .parrafo3 {
        .mainParrafo3 {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            margin: 0rem 3rem 3rem 3rem;
            text-align: start;
            justify-content: center;
            background-color: #a71e34;
            font-size: 1.1rem;

            .imgMolecular {
                width: 20vw;
                justify-content: center;
                padding: 1rem;
                margin-right: 10rem;
            }
        }
    }

    .parrafo4 {
        .mainParrafo4 {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row-reverse;
            align-items: center;
            margin: 0rem 3rem 3rem 3rem;
            padding-left: 1rem;
            text-align: start;
            justify-content: center;
            background-color: #c71f37;
            font-size: 1.1rem;

            .imgEstMolecular {
                width: 20vw;
                justify-content: center;
                padding: 1rem;
                margin-left: 12rem;
            }
        }
    }

    .mainSectionFondo {
        background-color: #780000;
        margin: 0rem 0rem 0rem 0rem;
        padding-bottom: 3rem;
        padding-top: 3rem;

        .mainSection2 {
            text-align: start;
            margin-left: 3rem;
            margin-right: 3rem;

            .Section2b {
                text-align: start;
            }
        }
    }
}