@import "variables";

main {
    .mainSubtitulo {
        text-align: center;
        margin: 6rem 3rem 3rem 3rem;
        padding-bottom: 2rem;
        border-bottom: solid black;

        @include media-up(md) {
            text-align: center;
            margin: 3rem;
            padding-bottom: 3rem;
            border-bottom: solid rgb(11, 11, 11);
            font-size: 1.2rem;
        }
    }

    .parrafo1 {
        .mainParrafo1 {
            @extend .contenedor;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            padding: 1rem;
            text-align: center;
            background-color: #641220;

            @include media-up(md) {
                @extend .contenedor;
                flex-wrap: nowrap;
                flex-direction: row;
                text-align: start;
                background-color: #641220;
                font-size: 1.1rem;
            }

            .imgBioquimica {
                width: 20vw;
                justify-content: center;

                @include media-up(md) {
                    width: 15vw;
                    justify-content: center;
                    padding: 1rem;
                }
            }
        }
    }

    .parrafo2 {
        .mainParrafo2 {
            @extend .contenedor;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            padding: 1rem;
            text-align: center;
            background-color: #85182a;

            @include media-up(md) {
                @extend .contenedor;
                flex-wrap: nowrap;
                flex-direction: row-reverse;
                padding-left: 1rem;
                text-align: start;
                background-color: #85182a;
                font-size: 1.1rem;
            }

            .imgQuimica {
                width: 20vw;
                justify-content: center;

                @include media-up(md) {
                    width: 15vw;
                    justify-content: center;
                    padding: 1rem;
                }
            }
        }
    }

    .parrafo3 {
        .mainParrafo3 {
            @extend .contenedor;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            padding: 1rem;
            text-align: center;
            background-color: #a71e34;

            @include media-up(md) {
                @extend .contenedor;
                flex-wrap: nowrap;
                flex-direction: row;
                text-align: start;
                background-color: #a71e34;
                font-size: 1.1rem;
            }

            .imgMolecular {
                width: 20vw;

                @include media-up(md) {
                    width: 15vw;
                    justify-content: center;
                    padding: 1rem;
                }
            }
        }
    }

    .parrafo4 {
        .mainParrafo4 {
            @extend .contenedor;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            padding: 1rem;
            text-align: center;
            background-color: #ce1934;

            @include media-up(md) {
                @extend .contenedor;
                flex-wrap: nowrap;
                text-align: center;
                font-size: 1.1rem;
            }

            .imgEstMolecular {
                width: 15vw;

                @include media-up(md) {
                    justify-content: center;
                    padding: 1rem;
                }
            }
        }
    }

    .mainSectionFondo {
        background-color: #780000;
        margin: 0rem;
        padding-bottom: 3rem;
        padding-top: 3rem;

        .mainSection2 {
            text-align: start;
            margin-left: 5rem;
            margin-right: 5rem;
            
            .Section2b {
                text-align: start;
            }
        }
    }
}